INFLUXDB_USERNAME=microhydros
INFLUXDB_PASSWORD=replace-with-a-password
INFLUXDB_ORG=microhydros
INFLUXDB_BUCKET=microhydros
INFLUXDB_TOKEN=replace-with-a-long-random-token

GRAFANA_USERNAME=admin
GRAFANA_PASSWORD=replace-with-a-strong-password
